
.collection-page-wrapper {
    width: 100%;
}
.collection-page-header {
    text-align: center;
}

.product-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* .product-container > label {
    font-size: calc(var(--multiplier) * 0.6rem);
} */