.collection {
    width: 22rem;
    height: 15rem;
    margin: .5rem 1.5rem ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(245, 241, 254);
}



.collectionCircle {
    width: 9rem;
    height: 9rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
    outline-offset: 1rem;
    cursor: pointer;
    display: block;
    border: none;
}

.collectionImg {
    width: 10rem;
    height: 8rem;
}

.collectionName {
    color: #050A30;
    margin: 1rem;
    position: relative;
    bottom: .2rem;
}

.collection-page-product-button {
    cursor: pointer;
    text-decoration: none;
}

