.cart-card-shadowed {
    color: var(--color);
    width: calc(var(--multiplier)* 22rem);
    box-shadow: .1rem 0 .4rem .4rem #a0aab8;
    padding: 1rem;
    margin: .5rem;
  }
  
  .cart-card-shadowed .opening-brief {
    text-align: center;
    position: relative;
  }
  
  .cart-card-shadowed .opening-brief::after {
      content: "";
      width:  calc(var(--multiplier)* 22rem);;
      height: .1rem;
      position: absolute;
      left: .25rem;;
      background-color: var(--background-color);
  }

.cart-btn {
    color: whitesmoke;
    font-weight: 500;
    border: none;
    outline-offset: .2rem ;
    cursor: pointer;
}

.cartEmpty {
    background-color: transparent;
}

.cartNonEmpty {
    background-color: #f98e2f
}

.cart-items-container {
    color: var(--text-color);
    position: relative;
}

.cart-list {
    list-style: none;
}

.cart-list-item-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-right: 1rem;
}

.cart-img{
    width: 3rem;
    height: 2rem;
    border: .05rem solid #002e6b;
    margin: .5rem;
}

.cart-btn-submit{
    position: absolute;
    right: .1rem;
}
