.cart-btn {
    color: whitesmoke;
    font-weight: 500;
    border: none;
    outline-offset: .2rem ;
    cursor: pointer;

}

.cartEmpty {
    background-color: transparent;
}

.cartNonEmpty {
    background-color: #f98e2f
}

.cart-items-container {
    color: var(--text-color);
    position: relative;
}

.cart-list {
    list-style: none;
    color: var(--text-color);
    width: 22.5rem;
    /* border: .1rem solid #002e6b; */
    box-shadow: .1rem 0 .4rem .4rem #a0aab8;
}

.cart-list-item-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-right: 1rem;
}

.cart-img{
    width: 3rem;
    height: 2rem;
    border: .05rem solid #002e6b;
    margin: .5rem;
}

.cart-btn-submit{
    padding: 1rem;
    border-radius: .5rem;
    background-color: #002e6b;
    color: whitesmoke;
    position: absolute;
    right: .1rem;
}
