.productCard {
    border: none;
    /* border: .2rem solid #002e6b;
    border-radius: .5rem; */
    padding: 1rem;
<<<<<<< HEAD
    width: 11.8rem;
    margin: .2rem;
=======
    width: 35%;
    margin: 1%;
>>>>>>> e56cbabb493771e3d5d00bdd1d6bec948820c863

}

.product-image {
<<<<<<< HEAD
    width: 7rem;
    height: 7rem;
=======
    width: 98%;
    height: 90%;
>>>>>>> e56cbabb493771e3d5d00bdd1d6bec948820c863
}